body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}

.product-details {
  text-align: center;

  .image-container {
    height: auto;
    width: 50%;
    margin:auto;
  }
}

#swym-anchor {
  display: none;
}

.modal-container {
  display: none;
  width: 100%;
  border: 1px solid #eee;
}
