body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.container {
  padding: 0;
  .header {
    padding: 20px;
    background: rgb(247, 247, 247);
    border-bottom: 1px solid rgb(242, 242, 242);
    h5 {
      margin-bottom: 0;
    }
  }
  .sidebar {
    padding: 20px;
    border-right: 1px solid rgb(237, 237, 237);
  }
  .products {
    padding: 20px;
  }
}

.product-details {
  text-align: center;

  .image-container {
    height: auto;
    width: 50%;
    margin:auto;
  }
}

#swym-anchor {
  display: none;
}
.widget-container {
  position: relative;
}

#modal-container {
  display: none;
  width: 100%;
  border: 1px solid #eee;
  position: absolute;
  top: 50px;
  z-index: 2;
  .cross {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 18px;
  }
  .row {
    background: #fff;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .column {
    padding: 0;
    margin: 0;
  }
}

.menu {
  text-align: center;
  border-bottom: 1px solid #eee;
  p {
    margin-bottom: 0;
  }
}
.menu-item, #items-container {
  padding: 10px;
}

.product {
  .title {
    margin-bottom: 1px;
  }
  .qty {
    color: #95a7b7;
  }
}

#dish-name {
  font-weight: bold;
}

.call-to-action {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background: #fff;
  padding: 10px;
  border-top: 1px solid #eee;
}

.body-container {
  height: 60vh;

  .products-row {
    height: 80%;
    overflow-y: auto;
  }
}

button {
  color: #fff !important;
  border: 0.1rem solid #fff !important;
  background-color: #4d4d4d !important;
  margin-bottom: 0 !important;
  &.button-primary {
    background-color: #4d4d4d !important;
  }
  &.button-outline {
    color: #4d4d4d !important;
    border: 0.1rem solid #4d4d4d !important;
    background-color: transparent !important;
  }
}


a {
  color: #333 !important;
}

.active a {
  color: #00B7FF !important;
}

@media only screen and (max-width: 321px) {
  .call-to-action .float-right{
    float: left;
    margin-top: 10px;
    width: 100%;
  }
  .call-to-action .float-left{
    width: 100%;
  }
}
