  <!doctype html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <title>User context</title>
      <link rel="canonical" href="">
      <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
      <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
      <link rel="stylesheet" href="//swymdev.azureedge.net/embed/normalize.min.css">
      <link rel="stylesheet" href="//swymdev.azureedge.net/embed/milligram.min.css">
      <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "NewsArticle",
          "headline": "Open-source framework for publishing content",
          "datePublished": "2015-10-07T12:02:41Z",
          "image": [
            "logo.jpg"
          ]
        }
      </script>
      <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
      <link href="/stylesheets/style.css" rel="stylesheet">
    </head>
  <body>
    {{{body}}}
  </body>
</html>
