<script>
  var swappName = ("Wishlist" || "Wishlist");
  var swymJSObject = {
    pid: "{{{pid}}}"
  };
  var articleInfo = JSON.parse('{{{articleInfo}}}');
  window.swymCart = {};
  window.swymJSShopifyLoad = function(){
    if(window.swymPageLoad) swymPageLoad();
    if(!window._swat) {
      (function (s, w, r, e, l, a, y) {
        r['SwymRetailerConfig'] = s;
        r[s] = r[s] || function (k, v) {
          r[s][k] = v;
        };
      })('_swrc', '', window);
      _swrc('RetailerId', swymJSObject.pid);
      _swrc('Callback', function(){
        //initSwymShopify();
      });
    }else if(window._swat.postLoader){
      _swrc = window._swat.postLoader;
      _swrc('RetailerId', swymJSObject.pid);
      _swrc('Callback', function(){
        //initSwymShopify();
      });
    }else{
      //initSwymShopify();
    }
  }
  if(!window._SwymPreventAutoLoad) {
    swymJSShopifyLoad();
  }
</script>
<script type="text/javascript" src="//swymdev.azureedge.net/code/swym.js"></script>
<script src="/javascripts/roaming.js"></script>

<div id="modal-container" class="container">
  <div class="row">
    <div class="column">
      <div class="header">
        <h5>Shopping List</h5>
        <div class="cross">x</div>
      </div>
    </div>
  </div>
  <div class="row menu">
    <div class="column">
      <a href="#" class="my-lists"><p><strong>My Lists</strong></p></a>
    </div>
    <div class="column">
      <a href="#" class="all-products"><p><strong>All Items</strong></p></a>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <div class="items-container">
        
      </div>
    </div>
  </div>
</div>
